.card { 
  background-size: contain;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
  margin: 2%;
  width: 46%;
  min-height: 220px;
  position: relative;
}

.card:nth-child(even) {
  top: 50px;
}

.card-body {
  padding: 10px;
}

.body-link {
  text-decoration: none;
}

@media only screen and (max-width: 670px) {
  .card { 
    margin: 4% 5%;
    width: 100%;
    min-height: 220px;
    position: relative;
  }

  .card:nth-child(even) {
    top: 0px;
  }
  
}

.card-body {
  /* margin: 10px; */
  height: 180px;
  border-radius: 4px 4px 1px 1px;
  text-decoration: none;
}

.card-title {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
}

.card-description { 
  font-weight: 400;
  line-height: 1.3em;
  color: white;
}

.card-links {
  bottom: 10px;
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 30px;
  align-items: center;
  padding: 10px;
}

.card-link {
  border: 1px solid white;
  border-radius: 4px;
  font-size: 0.8rem;
  color: inherit;
  font-weight: 500;
  margin-right: 10px;
  text-decoration: inherit;
  padding: 6px 10px;
}

