.card-wrapper {
 width: 46%;
 height: max-content;
 min-height: fit-content;
 margin: 2%;
}

.card { 
  background-size: contain;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.13);
  position: relative;
  width: 100%;
}

.body-link {
  overflow: hidden;
  text-decoration: none;
}

.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: grey;
}

.body-link {
  display: block;
  overflow: hidden;
  position: relative;
}
.body-link:hover .card-overlay {
  opacity: 0.65;
  transition: opacity 1s;
}
.body-link:hover img {
  transform: scale(1.05);
  transition: transform 1s;
}
.centered-text {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 670px) {
  .card-wrapper {
    margin: 4% 4%;
    height: auto;
    position: relative;
    width: 100%;
   }

   .card {
    width: calc(100vw - 10%);
    height: calc(100vw - 10%);
  }

  .intro > p {
    max-width: 100%;
  }
}

.card-body {
  /* margin: 10px; */
  border-radius: 4px 4px 1px 1px;
  text-decoration: none;
}

.card-title {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
}

.card-description { 
  font-weight: 400;
  font-size:1.1rem;
  line-height: 1.5em;
}

.card-description-wrapper {
  margin: 3%;
}

.card-links {
  bottom: 10px;
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 30px;
  align-items: center;
  padding: 10px;
}

.card-link {
  border: 1px solid white;
  border-radius: 4px;
  font-size: 0.8rem;
  color: inherit;
  font-weight: 500;
  margin-right: 10px;
  text-decoration: inherit;
  padding: 6px 10px;
}

