@keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
}

.landing-section { 
   background-color: #104392;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%237691ba' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
   color: white;
   width: 100vw;
}

.landing-wrapper {
   font-weight: 300;
   width:  calc(100% - 40px);
   animation: 1s fadein 0.25s 1;
   display: flex;
   flex-direction: column;
   justify-content: center;

   /*  
      Yay, a full height fix that works on ios!
      https://dev.to/cydstumpel/4-things-in-web-development-i-ve-learned-in-2020-so-far-3cg 
   */
   min-height: -moz-available;          
   min-height: -webkit-fill-available;  
   min-height: fill-available;
   min-height: 460px;
   max-width: 1100px;
   margin: auto;

   padding: 40px 20px;
}

.welcome {
   font-size: 3.8rem;
   font-weight: 300;
   margin-top: 0px;
   max-width: 1100px;
   width: 100%;
   color: white;
   line-height: 4rem;
}

.landing-wrapper > * {
   margin-bottom: 8px;
}

.welcome > b {
   font-weight: 500;
}

.landing-wrapper > p {
   font-size: 1.75rem;
}

.web-links-container {
   display: flex;
   justify-content: space-between;
   margin-right: 40px;
   max-width: 250px;
}

.intro {
   width: calc(100% - 40px);
   max-width: 1100px;
   padding: 40px 20px;
}

.intro > p {
   font-size: 1.7rem;
   line-height: 3rem;
   max-width: 80%;
   width: 100%;
}


@media screen and (max-width: 500px) {
   .landing-wrapper > p {
      font-size: 1.15rem;
   }
   
   .intro > p  {
      font-size: 1.3rem;
   }

   .web-links-container {
      display: flex;
      flex-direction: column;
      height: 70px;
   }

   .welcome {
      font-size: 3rem;
      font-weight: 300;
   }
}

.web-link {
   display: block;
}

.web-link  > a {
   color: inherit;
   position: absolute;
   font-size: 1.1rem;
   margin-right: 10px;
   font-weight: 400;
   overflow: hidden;
   height: 30px;
   text-decoration-style: none;
   text-decoration: none;
}

.web-link > a::after {
   color: #104392;
   content: "___________________________________________________";
   text-decoration-color: #FFE44D;
   text-decoration-style: wavy;
   text-decoration-line: line-through;
   position: absolute;
   transform: translateY(0.4em);
   width: 500px;
   height: 20px;
   left: 0px;
   top: 6px;
}

.web-link > a:hover {
   transition: color 1s;
   color: #FFE44D;
}
@keyframes animate {
   0% {left: 0;}
   100% {left: -30px;}
}
.web-link > a:hover::after {
   animation: animate 1.3s linear infinite;
}

.web-link > a:active { 
   color: #FFE44D;
}
