.titles {
  display: flex;
  flex-direction: row;
  flex-wrap: row;
  padding-left: 20px;
  justify-content:  space-between;
  align-items: center;
}

.titles > * {
  margin: 0px;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 500;
}

.section-subtitle {
  font-weight: 300;
  font-style: italic;
  max-width: 350px;
  position: relative;
}

@media only screen and (max-width: 670px) {
  .titles {
    flex-direction: column;
    display: block;
  }

  .section-subtitle {
    margin: 10px 0px;
  }
}
