.titles {
  display: flex;
  flex-direction: row;
  flex-wrap: row;
  justify-content:  space-between;
  align-items: center;
  margin-bottom: 20px;
}

.titles > * {
  margin: 2%;
}

.section-title {
  font-size: 3rem;
  font-weight: 500;
}

.section-subtitle {
  font-weight: 300;
  font-style: italic;
  max-width: 350px;
  position: relative;
  font-size: 1.1rem;
}

@media only screen and (max-width: 670px) {
  .titles {
    flex-direction: column;
    display: block;
  }

  .section-subtitle {
    margin: 10px 0px;
  }
}
